@page "/counter"  
@using OilHistory.Client.Pages.Components
@inject HttpClient _httpClient

<PageTitle>Цены</PageTitle>
<div>
    <h1>Цены на @DateTime.Now.ToString("dd.MM.yyyy")</h1>
    <button class="btn btn-primary" @onclick="IncrementCount">Обновить</button>
</div>

<div>
    @if (_oilPrices is null)
    {
        <p role="status">Ищем..</p>
    }
    else
    {
        foreach (var oilPrice in _oilPrices)
        {
           <OilPriceViewer OilPrice="@oilPrice"/>
        }
    }
</div>





@code {
    private string[]? _oilPrices;  
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await LoadOilPrices();
        }
    }
    private async Task IncrementCount()
    {
        await LoadOilPrices();
    }
    private async Task LoadOilPrices()
    {
        _oilPrices = await _httpClient.GetFromJsonAsync<string[]>("api/v1/Oils/History");
        StateHasChanged();
    }
}
